body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url(jpg/tlo.jpg);
    background-attachment: fixed;
    color: #663300;
    width: 900px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: left;
    font-variant: small-caps;
}

h1 {
    font-size: 32;
}

.mak {
    font-size: 15;
    text-align: center;
}

.bigmak {
    font-size: 50;
    opacity: 0.75;
    text-shadow: 0.1em 0.1em 0.2em #003366;
}

#lewa {
    text-align: justify;
    margin-top: 20px;
    width: 500px;
    float: left;
}

#prawa {
    margin-top: 20px;
    width: 300px;
    float: left;
    margin-left: 49px;
}

ul, ul li {
    display: block;
    margin: 0;
    padding: 0;
}

ul {
    border-bottom: 1px solid #888;
    float: left;
    width: 100%;
    padding-left: 20px;
}

ul li {
    float: left;
    margin-right: 10px;
}

ul a:link, ul a:visited {
    background-image: url(jpg/t1.jpg);
    background-position: center;
    color: #663300;
    font-size: 15;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border: 1px solid #663300;
    position: relative;
    top: 1px;
}

ul a:hover {
    background-image: url(jpg/t2.jpg);
    text-shadow: none;
}

img {
    display: block;
    margin: 0 auto;
    width: 100px;
    border: 4px;
}

table {
    border-collapse: separate;
    border: 1px solid #663300;
    border-spacing: 3mm;
    cellspacing: 6px;
    margin-bottom: 10;
}

td {
    border: 1px dotted #996633;
    font-variant: small-caps;
    text-align: center;
}

a {
    font-weight: 500;
    text-decoration: none;
    font-size: 25;
    color: white;
}

h1.map {
    font-size: 14;
    text-align: center;
}

a.map {
    font-size: 14;
    text-align: center;
}

a:hover {
    color: white;
    border-bottom-color: #fff;
    text-shadow: #663300 0.1em 0.1em 0.2em;
}

iframe {
    width: 485;
    height: 385;
    frameborder: 1;
    scrolling: auto;
}

marquee {
    behavior: slide;
    direction: down;
    height: 208px;
}
