body {
    font-size: 16px;
    background-color: #000000;
    background-attachment: fixed;
    width: 1250px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: left;
}

h1 {
    font-size: 26;
}

.title {
    color: #8EBAFA;
    font-family: Arial;
    font-size: 42;
    text-align: center;
    font-variant: small-caps;
}

.header {
    color: #8EBAFA;
    font-family: Arial;
    font-size: 28;
    text-align: center;
}

.name {
    color: #00EBFD;
    font-family: Arial;
    font-size: 28;
    text-align: center;
}

ul li {
    float: left;
    margin-right: 10px;
}

ul a:link, ul a:visited {
    font-family: Arial;
    color: #FAECD2;
    font-size: 25;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    position: relative;
    text-shadow: none;
}

ul a:hover {
    text-shadow: 1px 1px #E3D8B3;
}

#lewa {
    margin-top: 20px;
    width: 300px;
    float: left;
    margin-left: 49px;
}

#prawa {
    text-align: justify;
    margin-top: 20px;
    width: 650px;
    float: right;
    font-size: 18;
    color: #FAECD2;
}

table {
    border-collapse: separate;
    border: 1px solid #ffffff;
    border-spacing: 3mm;
    cellspacing: 6px;
    margin-bottom: 10;
    max-width: 900px;
    min-width: 900px;
}

td {
    text-align: center;
}

.tekst {
    color: #ffffff;
    font-family: Arial;
    font-size: 22;
    text-align: center;
}

iframe {
    width: 485;
    height: 385;
    frameborder: 1;
    scrolling: auto;
}

